# ==============================================
# Common SEPolicy Rule
# ==============================================

type irrx_device, dev_type;
